In [1622]:
import pandas as pd
import numpy as np

In [1623]:
df = pd.read_csv("../data/raw_data/cars.csv")

In [1624]:
df = df.rename(columns={"Vykon": "Vykon (koni)"})
df["Vykon (koni)"] = df["Vykon (koni)"].str.extract(r"(\d{2,3})(?=\s?PS\b)", expand=False)
df["Vykon (koni)"] = pd.to_numeric(df["Vykon (koni)"], errors="coerce").astype("Int64")
print(df["Vykon (koni)"].describe())

count        4036.0
mean     280.266105
std       124.87702
min            30.0
25%           190.0
50%           265.0
75%           340.0
max           761.0
Name: Vykon (koni), dtype: Float64

In [1625]:
df = df.rename(columns={"Objem motoru": "Objem motoru (cm³)"})
df["Objem motoru (cm³)"] = df["Objem motoru (cm³)"].str.extract(r"(\d*\s?\d{1,3}(?=\s?cm³\b))", expand=False).str.replace(" ", "")
df["Objem motoru (cm³)"] = pd.to_numeric(df["Objem motoru (cm³)"], errors="coerce").astype("Int64")
print(df["Objem motoru (cm³)"].describe())

count         3791.0
mean     2540.295964
std       796.804958
min              1.0
25%           1995.0
50%           2979.0
75%           2993.0
max           6592.0
Name: Objem motoru (cm³), dtype: Float64

In [1626]:
df["Pocet dveri"] = df["Pocet dveri"].str.extract(r"(\d*(?=\s?dveř.?\b))", expand=False)
df["Pocet dveri"] = pd.to_numeric(df["Pocet dveri"], errors="coerce").astype("Int64")
print(df["Pocet dveri"].describe())

count      3903.0
mean     4.624648
std      0.771266
min           2.0
25%           5.0
50%           5.0
75%           5.0
max           5.0
Name: Pocet dveri, dtype: Float64

In [1627]:
df["Pocet mist"] = df["Pocet mist"].str.extract(r"(\d*(?=\s?míst.?\b))", expand=False)
df["Pocet mist"] = pd.to_numeric(df["Pocet mist"], errors="coerce").astype("Int64")
print(df["Pocet mist"].describe())

count      3893.0
mean     4.942461
std      0.601709
min           2.0
25%           5.0
50%           5.0
75%           5.0
max           7.0
Name: Pocet mist, dtype: Float64

In [1628]:
df = df.rename(columns={"Najezd": "Najezd (km)"})
df["Najezd (km)"] = df["Najezd (km)"].str.extract(r"(\d*(?=km\b))", expand=False)
df["Najezd (km)"] = pd.to_numeric(df["Najezd (km)"], errors="coerce").astype("Int64")
print(df["Najezd (km)"].describe())

count          3876.0
mean      86487.26419
std      86714.845956
min               1.0
25%           17074.0
50%           51776.5
75%          147000.0
max          559741.0
Name: Najezd (km), dtype: Float64

In [1629]:
df = df.rename(columns={"Cena": "Cena (Kc)"})
df["Cena (Kc)"] = df["Cena (Kc)"].str.replace(" ", "")
df["Cena (Kc)"] = df["Cena (Kc)"].str.extract(r"(\d*(?=Kč\b))", expand=False)
df["Cena (Kc)"] = pd.to_numeric(df["Cena (Kc)"], errors="coerce").astype("Int64")
print(df["Cena (Kc)"].describe())

count            4036.0
mean     1226376.974727
std       883269.962346
min              4200.0
25%            499000.0
50%           1145000.0
75%           1696708.5
max          10999000.0
Name: Cena (Kc), dtype: Float64

In [1630]:
df["Model Auta"] = df["Model Auta"].str.replace("BMW ", "")
df["Model Auta"] = df["Model Auta"].astype("category")
print(df["Model Auta"].describe())
df["Model Auta"].cat.categories

count       4058
unique        34
top       Řada 5
freq         592
Name: Model Auta, dtype: object

Index(['M2', 'M3', 'M4', 'M5', 'M6', 'M8', 'Ostatní', 'X1', 'X2', 'X3', 'X4',
       'X5', 'X6', 'X7', 'XM', 'Z3', 'Z4', 'i3', 'i4', 'i5', 'i7', 'i8', 'iX',
       'iX1', 'iX2', 'iX3', 'Řada 1', 'Řada 2', 'Řada 3', 'Řada 4', 'Řada 5',
       'Řada 6', 'Řada 7', 'Řada 8'],
      dtype='object')

In [1631]:
df["Stav"] = df["Stav"].astype("category")
print(df["Stav"].describe())
df["Stav"].cat.categories

count          4058
unique            8
top       Perfektní
freq           1631
Name: Stav, dtype: object

Index(['Dobrý', 'Nové vozidlo', 'Perfektní', 'Předváděcí vozidlo',
       'Uspokojivý', 'Velmi dobrý', 'Způsobilý k provozu', 'neuvedeno'],
      dtype='object')

In [1632]:
df["Typ paliva"] = df["Typ paliva"].astype("category")
print(df["Typ paliva"].describe())
df["Typ paliva"].cat.categories

count      4058
unique        6
top       nafta
freq       2236
Name: Typ paliva, dtype: object

Index(['benzin', 'elektro', 'hybridní - benzin', 'hybridní - nafta', 'nafta',
       'neuvedeno'],
      dtype='object')

In [1633]:
df["Typ prevodovky"] = df["Typ prevodovky"].astype("category")
print(df["Typ prevodovky"].describe())
df["Typ prevodovky"].cat.categories

count                4058
unique                  4
top       aut. převodovka
freq                 3327
Name: Typ prevodovky, dtype: object

Index(['aut. převodovka', 'manuální převodovka', 'neuvedeno',
       'poloaut. převodovka'],
      dtype='object')

In [1634]:
df["Typ karoserie"] = df["Typ karoserie"].astype("category")
print(df["Typ karoserie"].describe())
df["Typ karoserie"].cat.categories

count     4058
unique      11
top        SUV
freq      1600
Name: Typ karoserie, dtype: object

Index(['MPV', 'SUV', 'VAN', 'hatchback', 'kabriolet', 'kombi', 'kupé',
       'liftback', 'limuzína', 'neuvedeno', 'sedan'],
      dtype='object')

In [1635]:
df["Barva exterieru"] =df["Barva exterieru"].replace("neuvedeno", np.nan)
df["Metaliza"] = df["Barva exterieru"].str.contains(r"\b(?:\w+\s)*metalíza\b", regex = True)
df.insert(15, "Metaliza", df.pop("Metaliza"))
print(df["Metaliza"].describe()) #Nevim, co delat s NaN

count     3991
unique       2
top       True
freq      2082
Name: Metaliza, dtype: object

In [1636]:
df["Barva exterieru"] = df["Barva exterieru"].str.replace(" metalíza", "")
df["Barva exterieru"] = df["Barva exterieru"].astype("category")
print(df["Barva exterieru"].describe())
df["Barva exterieru"].cat.categories

count      3991
unique       23
top       černá
freq       1087
Name: Barva exterieru, dtype: object

Index(['béžová', 'bílá', 'fialová', 'hnědá', 'modrá', 'oranžová', 'stříbrná',
       'světle hnědá', 'světle modrá', 'světle zelená', 'světle šedá',
       'tmavě hnědá', 'tmavě modrá', 'tmavě zelená', 'tmavě červená',
       'tmavě šedá', 'vínová', 'zelená', 'zlatá', 'černá', 'červená', 'šedá',
       'žlutá'],
      dtype='object')

In [1637]:
print(df["Stk"].describe())
del df["Stk"]

count          4058
unique           79
top       neuvedeno
freq           1982
Name: Stk, dtype: object

In [1638]:
df = df.rename(columns={"Datum registrace": "Rok registrace"})
df["Rok registrace"] = df["Rok registrace"].str.extract(r"(\d{4})", expand=False)
df["Rok registrace"] = pd.to_datetime(df["Rok registrace"], format="%Y")
df["Rok registrace"] = df["Rok registrace"].dt.strftime("%Y")
print(df["Rok registrace"].describe())

count     4005
unique      45
top       2024
freq       900
Name: Rok registrace, dtype: object

In [1639]:
print(df.info())
print(df.head(25))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Model Auta          4058 non-null   category
 1   Verze modelu        4021 non-null   object
 2   Cena (Kc)           4036 non-null   Int64
 3   Rok registrace      4005 non-null   object
 4   Najezd (km)         3876 non-null   Int64
 5   Stav                4058 non-null   category
 6   Vykon (koni)        4036 non-null   Int64
 7   Objem motoru (cm³)  3791 non-null   Int64
 8   Typ paliva          4058 non-null   category
 9   Typ prevodovky      4058 non-null   category
 10  Typ karoserie       4058 non-null   category
 11  Pocet dveri         3903 non-null   Int64
 12  Pocet mist          3893 non-null   Int64
 13  Barva exterieru     3991 non-null   category
 14  Metaliza            3991 non-null   object
 15  Adresa prodejce     4030 non-null   object
 16  Nazev prodejce      4058 non-null   object
dtypes: Int64(6), category(6), object(5)
memory usage: 399.6+ KB
None
   Model Auta                    Verze modelu  Cena (Kc) Rok registrace  \
0      Řada 3      318i, Kůže, vyhř. sedadla.      59000           2001
1      Řada 5                    520i 125kW !      59900           2000
2      Řada 3     2,0 320d, Xenon, Digi Klima      56900           2005
3      Řada 5                525 D TOURING AT       4200           2002
4          X5      3.0d, 4X4, Automat, po STK      60000           2004
5      Řada 1          118i / 105 kW / MANUÁL      59900           2007
6      Řada 3            316 TI COMPACT 85 KW      40000           2002
7      Řada 3  1.8 VETERÁN Vada motoru, koroz      29900           1989
8      Řada 3                    318D Touring      39900           2007
9      Řada 3       320d poškozené BEZ MOTORU      24999           2011
10     Řada 3                2,0 320i automat      35000           1993
11     Řada 1   116i, nová STK, jezdí výborně      50000           2007
12     Řada 5     528i automat, EKO uhrazeno!      58000           1998
13     Řada 3     E46 318i 140PS, Manual, Alu      44000           2005
14     Řada 5      2,2 i V6 E39 520i TOURING,      49900           2001
15     Řada 1   116i, nová STK, plně pojízdný      60000           2007
16     Řada 3    320 i, po STK, jezdí výborně      45000           2005
17     Řada 3                318 td, nová STK      50000           2003
18     Řada 3                2,0 318i Touring      59000           2005
19     Řada 3        320i E90 110 kW NOVÁ STK      59900           2006
20     Řada 3       2,0 320D AUTOMAT,NAVIGACE      69900           2004
21     Řada 1        2.0 D 120 D, xenon, kůže      60000           2006
22     Řada 3                    318I Touring      72000           2006
23     Řada 3                2,0 318d Touring      77000           2008
24     Řada 1      i 105kW AT motor na výměnu      75000           2008

    Najezd (km)                 Stav  Vykon (koni)  Objem motoru (cm³)  \
0        244300            neuvedeno           118                1895
1        275001            neuvedeno           170                2171
2        399400            neuvedeno           150                1995
3        315047            neuvedeno           163                2497
4        241700                Dobrý           218                3000
5        155500            neuvedeno           143                1995
6        215000          Velmi dobrý          <NA>                1796
7        235000           Uspokojivý           113                1796
8        559741           Uspokojivý           122                1995
9        281401            neuvedeno           177                1995
10       204520                Dobrý           150                1991
11       198976                Dobrý           116                1600
12       350000                Dobrý           193                2793
13       230470                Dobrý           143                1995
14       310246          Velmi dobrý           170                2171
15       248289                Dobrý           116                1600
16       276485                Dobrý           150                2000
17       344491                Dobrý           116                2000
18       303000                Dobrý           143                1995
19       172949  Způsobilý k provozu           150                1995
20       245379          Velmi dobrý           150                1995
21       273530            neuvedeno           163                1995
22       260001            neuvedeno           129                1995
23       211322                Dobrý           122                1995
24        66501            Perfektní           143                 143

   Typ paliva       Typ prevodovky Typ karoserie  Pocet dveri  Pocet mist  \
0      benzin  manuální převodovka          kupé            2           5
1      benzin  manuální převodovka         kombi            5           5
2       nafta  manuální převodovka         kombi            5           5
3       nafta      aut. převodovka     neuvedeno         <NA>        <NA>
4       nafta      aut. převodovka           SUV            5           5
5      benzin  manuální převodovka     hatchback            5           5
6      benzin  manuální převodovka          kupé            3           5
7      benzin  manuální převodovka         kombi            5           5
8       nafta  manuální převodovka         kombi            5           5
9       nafta  manuální převodovka         sedan            4           5
10     benzin      aut. převodovka         sedan         <NA>        <NA>
11     benzin  manuální převodovka     hatchback            5           5
12     benzin      aut. převodovka         sedan            4           5
13     benzin  manuální převodovka         kombi            5           5
14     benzin  manuální převodovka         kombi            5           5
15     benzin  manuální převodovka     hatchback            5           5
16     benzin  manuální převodovka         sedan            5           5
17      nafta  manuální převodovka     hatchback            3           5
18     benzin  manuální převodovka         kombi            5           5
19     benzin  manuální převodovka         sedan            4           5
20      nafta      aut. převodovka         kombi            5           5
21      nafta  manuální převodovka     hatchback            5           5
22     benzin  manuální převodovka         kombi            5           5
23      nafta  manuální převodovka         kombi            5           5
24     benzin      aut. převodovka     hatchback            3           4

   Barva exterieru Metaliza  \
0            černá     True
1             šedá     True
2            černá    False
3            modrá     True
4           zelená    False
5            modrá     True
6            černá     True
7          červená    False
8            černá    False
9            černá     True
10            bílá    False
11           modrá    False
12   světle zelená    False
13     světle šedá    False
14        stříbrná     True
15            šedá    False
16           černá    False
17          zelená    False
18     světle šedá     True
19        stříbrná    False
20     světle šedá     True
21           černá    False
22           černá    False
23     světle šedá    False
24         červená    False

                                      Adresa prodejce  \
0                 K Solné stezce Říčany u Prahy 25101
1           Malešická 47 Praha 3 Praha 3 Žižkov 13000
2                    Kvítkovická 1527 Napajedla 76361
3                       K Raškovci 1360/V Kolín 28002
4             Dopraváků 874/15 Praha 8 - Čimice 18400
5                       Libeňský ostrov Praha 8 18000
6                           Líšný 2.díl 6 Líšný 46822
7   Československé Armády 71/44 Jablonec nad Nisou...
8            Weilova 1144/2 Praha 10 - Hostivař 10205
9                V Zátiší 71 Průhonice - Rozkoš 25242
10                  Vídeňská 343 Vestec u Prahy 25242
11            Dopraváků 874/15 Praha 8 - Čimice 18400
12                   Dolní Vinice Kly u Mělníka 27741
13               Kolínská 244 Uhlířské Janovice 28504
14  Československé Armády 71/44 Jablonec nad Nisou...
15            Dopraváků 874/15 Praha 8 - Čimice 18400
16            Dopraváků 874/15 Praha 8 - Čimice 18400
17            Dopraváků 874/15 Praha 8 - Čimice 18400
18              Jáchymovská 350/81 Karlovy Vary 36004
19                     Masarykova 412 DOMAŽLICE 34401
20                           Vizovická 442 Zlín 76001
21           K Učilišti 170 Praha 10-Štěrboholy 10200
22          Malešická 47 Praha 3 Praha 3 Žižkov 13000
23                        PRAŽSKÁ 157 PARDUBICE 53006
24        Milady Horákové 1477 České Budějovice 37005

                 Nazev prodejce
0         Autobazar Cars s.r.o.
1                 Autobazar Duo
2        AUTOCAR - TICHÝ s.r.o.
3       Car Aukce, spol. s r.o.
4                      AAA Auto
5              RPD Auto CZ a.s.
6               AUTORENT s.r.o.
7               AUTOHOFI s.r.o.
8    Zdeněk KAPIČKA - auto moto
9                    L72 s.r.o.
10          Auto Rupexim s.r.o.
11                     AAA Auto
12        CM car Červený Michal
13  Autobazar Uhlířské Janovice
14              AUTOHOFI s.r.o.
15                     AAA Auto
16                     AAA Auto
17                     AAA Auto
18               autohlavaty.cz
19                      WP AUTO
20      RADEK DURĎA AUTO s.r.o.
21                     Auto ESA
22                Autobazar Duo
23              AUTOBAZAR BURDA
24                 CB AUTO a.s.

In [1640]:
#df.to_csv("../data/processed_data/1_data_clearing/cars.csv", index=False, encoding="utf-8")